.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.product_container{
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}
.product_card{
  width: 500px;
  color: red;
  border: 1px solid black;
  padding: 10px;
}
.product_card>img{
  width: 100%;
  height: 200px;
}
.priceTag{
  display: flex;
  justify-content: space-around;
}
.buttonsDiv{
  display: flex;
  justify-content: space-around;
  gap: 300px;
}
.buttonsDiv>div{
  color: white;
  padding: 10px;
  background-color: #282c34;
}
.buttonsDiv>div>button{
  margin-left: 20px;
}